<main>
        <div class="Contato">
            <p><b>Entre em contato com a gente por email e telefone </b></p>
            <br>
            <p><strong>E-mail:</strong> Roletop@gmail.com</p>
            <p><strong>Telefone:</strong>11 3772-8837</p>

        </div>
    </main>
        <footer>
        <address>
                Avenida de Limeira, 539 - Campos Elíseos - SP
                <br/>
                11 1234 6789
                <br />
        </address>
        <a href="#"> Voltar para o topo !</a>
    </footer>