<main>
    <h2>Entre em contato com a gente!</h2>
    <br>
        <div class="Contato">
            
            <br>
            <h3><p><strong>E-mail:</strong> Roletop@gmail.com</p></h3>
            <h3><p><strong>Telefone:</strong>11 3772-8837</p></h3>

        </div>
    </main>
        <footer>
        <address>
                Avenida de Limeira, 539 - Campos Elíseos - SP
                <br/>
                11 1234 6789
                <br />
        </address>
        <a href="#"> Voltar para o topo !</a>
    </footer>