
*{
    margin: 0;
    padding: 0;
    width: 100%;
}

nav {
    background-color: #EE8820;

}
 nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    list-style-type: none;
}
  nav ul > li > a {
    display: block;
	padding: 0.4em;
    text-decoration: none;
    color: #242222;
    font-weight: bold;
}


footer {
    background-color: #EE8820; 
    
}

.logo {
    width: 20%;
}

/* ****************************************************************** */
                       /* Nav-Final */
/* ****************************************************************** */
#eventos div{
    display: none;

}

body {
    font-family: 'Vollkorn', serif;
    background-color: #AF2178;
    text-align: center;
    font-size: 1em;
    margin: 0;
}

main {
    width: 100%;
    align-self: center;
}

section {
    text-align: center;
}

footer {
    width: 100%;
}

form * {
    margin: 5px 0;
    text-align: center;
    overflow: hidden;
    font-size:  1.2em;
}

form input, form select {
    width:  20%;
    height: 25px;
    border: none;
    text-align: center;
    padding: 0 2px;
}

textarea {
    width: 20%;
}
