<main>
    <div>
        <h1>Galeria</h1>
    </div>


    

    <section id="casamentos">
        

        <div class="casamentos" >


        <img src="/img/retangulocasamentos02.png" style="width: 40em "/>
                
        <div>
                <img src="/img/casamento01.jpg" style="height: 15em " style="width: 30em "/>
                <img src="/img/casamento02.jpg" style="height: 15em " style="width: 40em "/>
                
        </div>

            <div>
                <img src="/img/casamento03.jpg" style="height: 15em " style="width: 40em "/>
                <img src="/img/casamento04.jpg" style="height: 15em " style="width: 40em "/>

            </div>

        </div>

    </section>

    <section id="aniversarios">
        
            <div class="aniversario01">

            <img src="/img/retanguloaniversario01.png" style="width: 40em "/>
            
                                
                <div>
                    <img src="/img/aniversario 1.jpg" 
                    style="height: 15em " style="width: 40em "/>
                    <img src="/img/aniversario 2.jpg" 
                    style="height: 15em " style="width: 40em "/>
                </div>
                                        
                <div>
                <img src="/img/aniversario 3.jpg" 
                style="height: 15em " style="width: 40em "/>
                <img src="/img/aniversario 4.jpg" 
                style="height: 15em " style="width: 40em "/>
            </div>
            

        </div>
    </section>

    <section id="shows">

        <div class="shows2">
        
            <img src="/img/retanguloshows 02.png" style="width: 40em "/>

        <div>
            <img src="/img/shows 1.jpg" 
            style="height: 15em " style="width: 40em "/>
            <img src="/img/show 2.jpeg" 
            style="height: 15em " style="width: 40em "/>
        </div>

        <div>
            <img src="/img/show 3.jpg" 
            style="height: 15em " style="width: 40em "/>
            <img src="/img/show4.jfif"
            style="height: 15em " style="width: 40em "/>
        </div>

    </div>
    </section>

    <section  id="corporativos">

        <div class="corporativo">

            <img src="/img/retangulocorporativos02.png" style="width: 40em " />

        <div>
            <img src="/img/corporativo1.jpg" 
            style="height: 15em " style="width: 40em ">
            <img src="/img/corporativo 2.jpg" 
            style="height: 15em " style="width: 40em ">
        </div>

        <div>
            <img src="/img/corporativo 3.jpg" 
            style="height: 15em " style="width: 40em ">
            <img src="/img/corporativo 4.jpg" 
            style="height: 15em " style="width: 40em ">
        </div>

    </div>
    </section>
        </main>
   