
    <main>
    <section id="banner" >
        
        <img  src="img/aniversario-lounge-casa-itaim.jpg"  />
        

    </section>

    <section >
        <div class="Espaco">
            <img src="img/mini_E11_DE_16.png" style="width: 70em "/> 
            
        

        </div>    
    </section>

    
    <table id="tabelaespec">
        <caption>Programação do mês:</caption>

    <tr><td rowspan="2">Casamento:</td><td rowspan="2">Mariana e Jhonathan 16/09/2019</td></tr>
    <tr><td rowspan="1">Aniversário:</td><td rowspan="2">Ana Clara 15anos 20/09/2019</td></tr>
    <tr><td rowspan="2">Corporativo:</td><td rowspan="2">Empresa Tec Word 25/09/2019</td></tr>
    <tr><td rowspan="2">Show:</td><td rowspan="2">Zé Neto e Cristiano 29/09/2019</td></tr>
</table>
    

    <section id="local">
            <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14631.561695198408!2d-46.64607037245504!3d-23.53644322236868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deade6e3%3A0x124f377d06c7e71f!2sAlameda%20Bar%C3%A3o%20de%20Limeira%2C%20539%20-%20Campos%20El%C3%ADseos%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001202-001!5e0!3m2!1spt-BR!2sbr!4v1567451015219!5m2!1spt-BR!2sbr" 
            width="250" height="150" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        
        </section>
        <footer>
        <address>
                Avenida de Limeira, 539 - Campos Elíseos - SP
                <br/>
                11 1234 6789
                <br />
        </address>
        <a href="#"> Voltar para o topo !</a>
    </footer>
    </main>
    