@model RoleTopMVC.ViewModels.EventoViewModel
<main>
                    <h2>Minha Conta, @Model.NomeCliente!</h2>
                        <br />
                        <div class="meu evento">
                                <a href="meuevento.html#meu evento">Meu evento</a>

                            </div>
                            <br />
                        <div class="cadastrar meu evento">
                                <a href="cadastrodoevento.html#cadastrar meu evento">Cadastrar meu evento:</a>                               
                        </div>
                            
                        

            <form method="POST" action='@Url.Action("Registrar", "Cliente")'>

                <div>
                    <label for="data do evento">data do evento </label>
                    <br />
                    <input id="data do evento" type="date"/>
                </div>
                <br />

                <label for="Tipo de eventos">Tipo de eventos</label>
                <br />
                    <select id='select' name='select'>
                    <option value=''>Selecione</option>
                    <option value='div1'>Casamento</option>
                    <option value='div2'>Aniversário</option>
                    <option value='div3'>Shows</option>
                    <option value='div4'>Corporativos</option>
                    </select>  
                    
                <div id="eventos">
                    <div id="div1">
                        Casamento
                    </div>

                    <div id="div2">
                        Aniversário                     
                    </div>

                    <div id="div3">
                        Shows                      
                    </div>

                    <div id="div4">
                        Corporativos                       
                    </div>
                </div>    
            
                    <label for="descricao">Descrição do evento:</label>
                    <br/>
                    <textarea name="descricao" id="descricao" cols="10" rows="5"  placeholder="Descrição do evento"  style="width: 20em "></textarea>
                    <br /> 
            

                <label for="Forma de paagamento">Forma de pagamento:</label>
                <br />
                <select id='select' name='select'>
                    <option value=''>Selecione</option>
                    <option value='div1'>Débito</option>
                    <option value='div2'>Crédito</option>
                    <option value='div3'>Boleto bancário</option>                                       
                    </select>  
                    <br />
                    <label for="Serviços adicionais">Serviços adicionais:</label> 
                    <br />

                <select id='select' name='select'>
                    <option value=''>Selecione</option>
                    <option value='div1'>Som</option>
                    <option value='div2'>Iluminação</option>                                     
                    </select>  


            </form>
                </main>