<main>

                        <h2>Login</h2>

                        <form method="POST" action='@Url.Action("Login", "Cliente")'>
                            <div>
                                <label for="email">E-mail</label>
                                <br />
                                <input id="email" type="text" name="email" />
                            </div>

                            <div>
                                <label for="senha">Senha</label>
                                <br/>
                                <input id="senha" type="password" name="senha" />
                            </div>

                            <input type="submit" value="Entrar!" />

                            <a href="#">Esqueceu sua senha?</a><br />

                            <div id="link-cadastro">
                            <a href='@Url.Action("Index", "Cadastro")'>Cadastre-se</a>
                            </div>
                </form>
                    </main>
                