<main>
                <h2>Cadastre-se</h2>
                
                <form method="POST" action='@Url.Action("CadastrarCliente", "Cadastro")'>
                    
                <div>
                    <label for="nome">Nome Completo</label>
                    <br />
                    <input id="nome" type="text" maxlength="20" minlength="3" name="nome" />
                </div>

                
                <div>
                    <label for="email">E-mail</label>
                    <br />
                    <input id="email" type="email"  maxlength="20" minlength="3" name="email"/>
                </div>

                <div>
                    <label for="senha">Senha</label>
                    <br />
                    <input id="senha" type="password"  maxlength="20" minlength="6" name="senha" />
                </div>

                <div>
                    <label for="confirma-senha">confirma senha</label>
                    <br />
                    <input id="confirma-senha" type="password"  maxlength="20" minlength="3" name="confirma_senha"/>
                </div>

                <div>
                    <label for="Telefone">Telefone</label>
                    <br/>
                    <input id="Telefone" type="text"  maxlength="20" minlength="3" name="telefone"/>
                </div>

                <div>
                    <label for="Data-Nascimento">Data de Nascimento</label>
                    <br />
                    <input id="Data-Nascimento" type="date" maxlength="20" minlength="3" name="data_nascimento"/>
                </div>
                
                
                <input type="submit" value="Finalizar cadastro">
            
            </form>
                </main>