<main>

    
<h2>Quem Somos</h2>
<p>Somos dois amigos que resolvemos fazer uma sociedade</p>
<p>e abrimos uma empresa que aluga o espaço para diversos</p>
<p>tipos de eventos, tambem oferecemos o servico de som e de iluminação</p>


<h2>Estrutura</h2>
<p>Nossa estrutura conta com um espaço de 150mX40m</p>
<p>Banheiro social feminino </p>
<p>Banehiro social Masculino</p>
<p>Banehiro para deficiente</p>
<p>infraestrutura para palco</p>

<section id="casa">
        

    <div class="casa" >

    <img src="/img/casa03.png" style="width: 40em "/>
    
    <section id="planta">
    
    <div class="planta">
        <img src="/img/planta.jpg" style="width: 20em "/>
    </div>
olp-
    </section>
</main>
    <footer>
        <address>
                Avenida de Limeira, 539 - Campos Elíseos - SP
                <br/>
                11 1234 6789
                <br />
        </address>
        <a href="#"> Voltar para o topo !</a>
    </footer>