<main>
                <h2>Minha Conta</h2>
                <form method="GET" action="">

                        <div class="cadastrar meu evento">
                                <a href="cadastrodoevento.html# cadastrar meu evento">Cadastrar meu evento:</a>                               
                        </div>
                </form>
            </main>